.keyboard
{
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;

}

.btn
{
    cursor:pointer;
    padding:1.4rem 1rem;
    border: none;
    margin:.2rem;
    border-radius: 5px;
    /* font-size:1.3rem; */
    font-weight: 600;
}

