@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body
{
  background-color:#121213;
  font-family: 'Roboto', sans-serif;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box
}
.correct{
  background-color:#538d4e;
  color:#fff;
}
.almost{
  background-color:#b59f3b;
  color:#fff;
}
.error{
  background-color:#3a3a3c;
  color:#fff;
}
.default-dark
{
  background-color: #818384;
  color:#fff;
}

.white-theme
{
  background-color:#d3d6da;
  color:#000;
}
/* .specialBtn
{

} */


.flip{
  animation : 1s linear flipping;
}

@keyframes flipping {
  0%{
    transform: rotateX(0deg);
  }
  50%
  {
    transform:rotateX(90deg)
  }
  100%
  {
    transform: rotateX(0deg);
    
  }
  
}